div.member
	div.header.unselectable
		p.title
			span.en-lang #{member.title.en}
			span.tw-lang #{member.title.tw}
	div.thumbnail
		img(src=member.thumbnail, onerror="$(this).attr('src', './public/images/default-thumbnail.png')")
	div.content
		p.name.forceFont
			| #{member.name}
		div.domain
			if (member.domains)
				p.label.unselectable
					span.en-lang #{information.ui.mem_research_area.en}
					span.tw-lang #{information.ui.mem_research_area.tw}
				ul
					each domain in member.domains
						li #{domain}
	a.second-page(onclick="toggleNextPage(this, 'open')")
		i.fa.fa-plus
	a.second-page-close(onclick="toggleNextPage(this, 'close')")
		i.fa.fa-close
	div.contact
		if (member.mail !== undefined)
			p.label.unselectable
				span.en-lang #{information.ui.mem_email.en}
				span.tw-lang #{information.ui.mem_email.tw}
			p.email
				| #{member.mail[0]}&nbsp;
				i.fa.fa-at
				| &nbsp;#{member.mail[1]}
		if (member.socials !== undefined)
			p.label.unselectable
				span.en-lang #{information.ui.mem_socials.en}
				span.tw-lang #{information.ui.mem_socials.tw}
			ul.socials
				if (member.socials.facebook !== undefined)
					a(href=member.socials.facebook, target='_blank')
						li.facebook
							i.fa.fa-facebook
				if (member.socials.google !== undefined)
					a(href=member.socials.google, target='_blank')
						li.google
							i.fa.fa-google-plus
				if (member.socials.twitter !== undefined)
					a(href=member.socials.twitter, target='_blank')
						li.twitter
							i.fa.fa-twitter
				if (member.socials.website !== undefined)
					a(href=member.socials.website, target='_blank')
						li.website
							i.fa.fa-link
	if (member.since !== undefined)
		div.since.unselectable
			span.en-lang #{information.ui.mem_since.en}&nbsp;
			| #{member.since}
			span.tw-lang &nbsp;#{information.ui.mem_since.tw}
